.header {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

li {
  list-style-type: none;
  margin-top: 0.7rem;
}

/* li:hover {
  text-decoration: none;
  color: #690669;
} */

.home a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(95, 94, 94);
  margin-left: 5rem;
}

.home a:hover {
  text-decoration: underline;
  color: #690669;
}

.services a {
  list-style-type: none;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(95, 94, 94);
  margin-left: -2rem;
}
.services a:hover {
  text-decoration: underline;
  color: #690669;
}
.about a {
  list-style-type: none;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(95, 94, 94);
  margin-left: -2rem;
}
.about a:hover {
  text-decoration: underline;
  color: #690669;
}

.headerLogin {
  text-align: center;
  width: 8%;
  height: 7vh;
  top: 36px;
  left: 122px;
  gap: 10px;
  color: #080708;
  background-color: transparent;
  border: none;
  margin-right: -4rem;
  text-align: center;
}

.headerSignup {
  width: 12%;
  height: 10%;
  background-color: #080708;
  border: none;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}

.headerSignup:hover {
  background-color: #690669;
}

h2 {
  color: rgb(26, 25, 25);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 700;
}
h2:hover {
  color: rgb(85, 2, 85);
  text-decoration: underline;
}

.line {
  width: 90%;
  height: 2px;
  margin-left: 1.5rem;
  margin-top: 2rem;
  background: #d9d9d9;
  border-radius: 10px 10px 10px 10px;
}
