.logo {
  margin: 0rem 1rem 0 0.3rem;
  margin-left: -8rem;
}

.logobar {
  display: flex;
  margin-left: 1rem;
}

.companyLogo {
  font-size: 12px;
}

.logoImg {
  width: 36px;
  height: 58px;
  top: 2403px;
  left: 128px;
}
