.logo {
  margin: 0rem 1rem 0 0.3rem;
  margin-left: -15rem;
}

.logobar {
  display: flex;
  margin-left: 1rem;
}
.bar1 {
  height: 8vh;
  width: 15%;
  margin-top: 1rem;
  border-radius: 6px 6px 0 0;
  background: black;
}
.bar2 {
  height: 8vh;
  width: 15%;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  border-radius: 6px 6px 0 0;
  background: black;
}
.bar3 {
  height: 8vh;
  width: 15%;
  margin-left: 0.2rem;
  border-radius: 6px 6px 0 0;
  background: black;
}

.companyLogo {
  font-size: 12px;
}
